# For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# Note that this file was always incomplete  and lagging changes to configuration settings


# for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg
#


#[defaults]
#inventory = ./inventory.ini
#remote_user = Administrator
#ask_pass = false
#host_key_checking = false
#timeout = 30
#log_path = ./ansible.log

#[winrm]
#transport = winrm
#port = 5986
#server_cert_validation = ignore

#[privilege_escalation]
#become = True
#become_method = sudo
#become_user = root
